{% extends "master.html" %}

{% block content %}
    <div class="container">
        <h1>Will Coates' personal blog</h1>
        <p>Hi. I'm Will, a 17 year old student from Peterborough studying Maths, Further Maths, Physics and ICT. I have been learning to program since 2009 starting with Visual Basic .NET and now know the following languages:</p>
        <!-- First time truely counting this... -->
        <ul>
            <li>Visual Basic .NET  <!-- 2009, Year 6? --></li>
            <li>C# <!-- Year 7, back when the school computers had Visual Studio --></li>
            <li>JavaScript (including JQuery) <!-- Can't remember when, but I can use it... --></li>
            <li>PHP <!-- At least Year 7 or 8 --></li>
            <!-- Would say Java, but can't use it for shit now -->
            <li>Python <!-- Year 12, the week at Villiers Park --></li>
        </ul>
        <p>I also currently have plans to start learning how to use Node.JS</p>

        <h2>Projects</h2>
        <p>Coming soon</p>
    </div>
{% endblock %}
