{% extends "master.html" %}

{% block content %}
    <div class="container">
		<form action="/addpost" method="post">
			<input class="form-control" name="title" type="text" placeholder="Title" /><br />
			<input class="form-control" name="id" type="text" placeholder="Post ID" /><br />
			<textarea class="form-control" name="post" placeholder="Post" rows="20"></textarea><br />
			<input class="form-control" name="tags" type="text" placeholder="tag1,tag2" /><br />
			<button type="submit" class="btn btn-primary">Post</button>
		</form>
    </div>
{% endblock %}
