{% extends "master.html" %}

{% block content %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Will Coates' Blog</h1>
            <p>Welcome to my personal blog! I am a computer programmer in Year 12 studing Maths, Further Maths, Physics and ICT.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                {% for v in posts %}
                    <h3><a href="/posts/{{v['pid']}}/">{{ v['title']|title }}</a></h3>
                    <p>{{ v['post'][0]|safe }}</p>
                {% endfor %}
            </div>
            <div class="col-xs-12 col-md-3">
                <h3>Tags</h3>
                <ul class="list-inline">
                    {% for t in tags %}
                        <li><a href="/viewtag/{{ t }}/" class="label label-default">{{ t }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
