{% extends "master.html" %}

{% block content %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Will Coates' Blog</h1>
            <p>Welcome to my personal blog! I am a computer programmer in Year 12 studing Maths, Further Maths, Physics and ICT.</p>
        </div>
    </div>
    <div class="container">
        {% for k, v in posts %}
            <h3><a href="newposts/{{k}}/">{{ v['title']|title }}</a></h3>
            <p>{{ v['post'][0]|safe }}</p>
        {% endfor %}
    </div>
{% endblock %}
