{% extends "master.html" %}

{% block meta %}
<meta property="og:title"       content="{{ post['title'] }}" />
<meta property="og:description" content="{{ post['post'][0] }}" />
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ post['title'] }}</h1>
        {% if admin %}
        <div class="btn-group" role="group" aria-label="...">
            <a href="/editpost/{{ post['pid'] }}/" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Edit</a>
            <a href="/deletepost/{{ post['pid'] }}/" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
        </div>
        {% endif %}
        <p>Posted {{ date }}</p>
        {% for p in post['post'] %}
          <p>{{ p|safe }}</p>
        {% endfor %}
        <div id="tags">
            {% for t in post['tags'] %}
            <a href="/tags/{{ t }}/" class="label label-default">{{ t }}</a>
            {% endfor %}
        </div>
        <div class="fb-like" data-show-faces="true" data-share="true" data-colorscheme="dark"></div>
        <div class="fb-comments" data-numposts="5" data-colorscheme="dark" data-width="100%"></div>
    </div>
{% endblock %}
