{% extends "master.html" %}

{% block meta %}
<meta property="og:title"       content="{{ title }}" />
<meta property="og:description" content="{{ post[0] }}" />
{% endblock %}

{% block content %}
    <div class="container">
        <h3>{{ title }}</h3>
        <p>Posted {{ date }}</p>
        {% for paragraph in post %}
          <p>{{ paragraph|safe }}</p>
        {% endfor %}
        <div class="row">
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2"><div class="fb-like" data-layout="button_count" data-show-faces="true"></div></div>
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2"><div class="fb-share-button" data-layout="button_count"></div></div>
        </div>
    </div>
{% endblock %}
