{% extends "master.html" %}

{% block meta %}
<meta property="og:title"       content="{{ title }}" />
<meta property="og:description" content="{{ post[0] }}" />
{% endblock %}

{% block content %}
    <div class="container">
        <h3>{{ title }}</h3>
        <p>Posted {{ date }}</p>
        {% for paragraph in post %}
          <p>{{ paragraph|safe }}</p>
        {% endfor %}
        <div class="fb-like" data-show-faces="true" data-share="true" data-colorscheme="dark"></div>
    </div>
{% endblock %}
